extends layout

block header
    link(rel='stylesheet', href='/css/loader.css')
    link(rel='stylesheet', href='/css/billboard.css')
    script.
        var mobile = #{mobile};
        window.nowaudio = "";

    script(src="js/lib/common.js")

block content
    audio(src="assets/mp3/satoc.mp3", id="audio_satoc")
    audio(src="assets/mp3/adachi.mp3", id="audio_adachi")
    audio(src="assets/mp3/saitoh.mp3", id="audio_saitoh")
    audio(src="assets/mp3/hidaka.mp3", id="audio_hidaka")
    audio(src="assets/mp3/miyashita.mp3", id="audio_miyashita")
    audio(src="assets/mp3/sakuragi.mp3", id="audio_sakuragi")
    audio(src="assets/mp3/nakamura.mp3", id="audio_nakamura")
    audio(src="assets/mp3/nobuki.mp3", id="audio_nobuki")
    audio(src="assets/mp3/okuma.mp3", id="audio_okuma")
    audio(src="assets/mp3/uchiyama.mp3", id="audio_uchiyama")
    audio(src="assets/mp3/wannan.mp3", id="audio_wannan")
    audio(src="assets/mp3/shinpuku.mp3", id="audio_shinpuku")
    div#loader(style="position: absolute; height: 100%; width: 100%;background-color:green;z-index:0;"): div.spinner(style="margin-top:30%")
    if !mobile
        div.topnav.text-right(style="background-image:url('assets/img/documemento_h60_w350.png');background-size:contain;background-repeat:no-repeat;")
                a(href="/"): p(style="width:100px;height:100%;position:absolute;")
                ul.list-inline(style="padding:15px;color:white;")
                    li(style="color:white;margin:5px;border-bottom: solid 3px #EDCAD3;", onclick="window.open('/schedule.html', 'mywindow1', 'width=780, height=950, menubar=no, toolbar=no, scrollbars=yes');") スケジュール
                    li(style="color:white;margin:5px;border-bottom: solid 3px #EDCAD3;"): a(href="http://documemento.peatix.com/view", target="_blank") Peatixで予約
                    li(style="color:white;margin:5px;border-bottom: solid 3px #EF1A32;"): a(href="http://documementows.peatix.com/", target="_blank") ワークショップ
                    //li(style="color:white;margin:5px;border-bottom: solid 3px #EDCAD3;"): a(href="http://docu-memento.com/data/schedule.pdf", target="_blank") スケジュール
                    li(style="color:white;margin:5px;border-bottom: solid 3px #F7A0BC;"): a(href="http://docu-memento.com/data/docu-memento_release1020.pdf", target="_blank") 概要
                    li(style="color:white;margin:5px;border-bottom: solid 3px #87CEFA;cursor:pointer;", onclick="window.open('/about', 'mywindow1', 'width=600, height=720, menubar=no, toolbar=no, scrollbars=yes');") 事業案内
                    li(onclick="window.open('/contact', 'mywindow1', 'width=600, height=720, menubar=no, toolbar=no, scrollbars=yes');")
                        img(src="/assets/img/icons/mail.png", style="height:35px;cursor:pointer")
                    li(onclick="window.open('https://www.facebook.com/bugdocument/', 'mywindow1', 'width=880, height=600, menubar=no, toolbar=no, scrollbars=yes');")
                        img(src="/assets/img/icons/fb.png", style="height:35px;cursor:pointer")
                    li(onclick="window.open('https://www.bug-team.com', 'mywindow1', 'width=880, height=600, menubar=no, toolbar=no, scrollbars=yes');")
                        img(src="/assets/img/icons/bol.png", style="height:35px;cursor:pointer")
                    li: div#sns-area

    div#VRController(ng-controller="VRController", style="position: absolute; height: 100%; width: 100%;")
        a-scene
            a-assets
                //360 Videos
                //video#er_yataimura(src="media/er/shinagawa/yataimura.mp4", muted, autoplay,loop="true")
                //video#er_honshoji(src="media/er/shinagawa/honshoji.mp4", muted, autoplay,loop="true")
                //video#er_matsumoto(src="media/er/shinagawa/matsumoto.mp4", muted, autoplay,loop="true")
                //video#er_tokaido(src="media/er/shinagawa/tokaido1.mp4", muted, autoplay,loop="true")
                //video#er_kaidocafe(src="media/er/shinagawa/kaidocafe.mp4", muted, autoplay,loop="true")
                //3D Models
                a-asset-item#small-mtl(src="assets/models/camerahouse/small.mtl")
                a-asset-item#small-obj(src="assets/models/camerahouse/small.obj")
                a-asset-item#large-obj(src="assets/models/camerahouse/large.obj")
                //a-asset-item#earth-mtl(src="assets/models/earth/earth.mtl")
                //a-asset-item#earth-obj(src="assets/models/earth/earth.obj")
                //a-asset-item#amagi-mtl(src="assets/models/amagi/amagi.mtl")
                //a-asset-item#amagi-obj(src="assets/models/amagi/amagi.obj")
                a-asset-item#infobox-mtl(src="assets/models/infobox/box.mtl")
                a-asset-item#infobox-obj(src="assets/models/infobox/box.obj")
                a-asset-item#lantan-mtl(src="assets/models/lantan/lantan.mtl")
                a-asset-item#lantan-obj(src="assets/models/lantan/lantan.obj")
                a-asset-item#panelbox-obj(src="assets/models/panelbox/box_.obj")
                a-asset-item#panelbox-mtl(src="assets/models/panelbox/box_.mtl")
                a-asset-item#areamap-mtl(src="assets/models/panelbox/box_areamap.mtl")

                //Panel BOX
                a-asset-item#panelbox-uchiyama-mtl(src="assets/models/panelbox/box_uchiyama.mtl")
                a-asset-item#panelbox-yonemoto-mtl(src="assets/models/panelbox/box_yonemoto.mtl")
                a-asset-item#panelbox-matsui-mtl(src="assets/models/panelbox/box_matsui.mtl")
                a-asset-item#panelbox-takeoka-mtl(src="assets/models/panelbox/box_takeoka.mtl")
                a-asset-item#panelbox-ota-mtl(src="assets/models/panelbox/box_ota.mtl")
                a-asset-item#panelbox-nakamura-mtl(src="assets/models/panelbox/box_nakamura.mtl")
                a-asset-item#panelbox-fujioka-mtl(src="assets/models/panelbox/box_fujioka.mtl")
                a-asset-item#panelbox-okuma-mtl(src="assets/models/panelbox/box_okuma.mtl")
                a-asset-item#panelbox-kan-mtl(src="assets/models/panelbox/box_kan.mtl")
                a-asset-item#panelbox-nobuki-mtl(src="assets/models/panelbox/box_nobuki.mtl")
                a-asset-item#panelbox-sakuragi-mtl(src="assets/models/panelbox/box_sakuragi.mtl")
                a-asset-item#panelbox-kawai-mtl(src="assets/models/panelbox/box_kawai.mtl")
                a-asset-item#panelbox-miyashita-mtl(src="assets/models/panelbox/box_miyashita.mtl")
                a-asset-item#panelbox-adachi-mtl(src="assets/models/panelbox/box_adachi.mtl")
                a-asset-item#panelbox-hidaka-mtl(src="assets/models/panelbox/box_hidaka.mtl")
                a-asset-item#panelbox-someonesgarden-mtl(src="assets/models/panelbox/box_someonesgarden.mtl")
                a-asset-item#panelbox-tokyo-mtl(src="assets/models/panelbox/box_tokyo.mtl")
                a-asset-item#panelbox-saitoh-mtl(src="assets/models/panelbox/box_saitoh.mtl")

                //Prog BOX
                a-asset-item#progbox-matsumoto0310-mtl(src="assets/models/progbox/box_matsumoto0310.mtl")
                a-asset-item#progbox-matsumoto0410-mtl(src="assets/models/progbox/box_matsumoto0410.mtl")
                a-asset-item#progbox-matsumoto0414-mtl(src="assets/models/progbox/box_matsumoto0414.mtl")

                a-asset-item#progbox-kaido0310-mtl(src="assets/models/progbox/box_kaido0310.mtl")
                a-asset-item#progbox-kaido0312-mtl(src="assets/models/progbox/box_kaido0312.mtl")
                a-asset-item#progbox-kaido0313-mtl(src="assets/models/progbox/box_kaido0313.mtl")
                a-asset-item#progbox-kaido0413-mtl(src="assets/models/progbox/box_kaido0413.mtl")
                a-asset-item#progbox-kaido0410-mtl(src="assets/models/progbox/box_kaido0410.mtl")
                a-asset-item#progbox-kaido0414-mtl(src="assets/models/progbox/box_kaido0414.mtl")
                a-asset-item#progbox-honshoji0313-mtl(src="assets/models/progbox/box_honshoji0313.mtl")
                a-asset-item#progbox-honshoji0316-mtl(src="assets/models/progbox/box_honshoji0316.mtl")
                a-asset-item#progbox-honshoji0411-mtl(src="assets/models/progbox/box_honshoji0411.mtl")
                a-asset-item#progbox-honshoji0412-mtl(src="assets/models/progbox/box_honshoji0412.mtl")
                a-asset-item#progbox-honshoji0416-mtl(src="assets/models/progbox/box_honshoji0416.mtl")
                a-asset-item#progbox-yatai0316-mtl(src="assets/models/progbox/box_yatai0316.mtl")
                a-asset-item#progbox-yatai0318-mtl(src="assets/models/progbox/box_yatai0318.mtl")
                a-asset-item#progbox-yatai0320-mtl(src="assets/models/progbox/box_yatai0320.mtl")
                a-asset-item#progbox-yatai0417-mtl(src="assets/models/progbox/box_yatai0417.mtl")
                a-asset-item#progbox-yatai0419-mtl(src="assets/models/progbox/box_yatai0419.mtl")
                a-asset-item#progbox-yatai0421-mtl(src="assets/models/progbox/box_yatai0421.mtl")
                a-asset-item#progbox-unagi0410-mtl(src="assets/models/progbox/box_unagi0410.mtl")
                a-asset-item#progbox-unagi0414-mtl(src="assets/models/progbox/box_unagi0414.mtl")
                a-asset-item#progbox-kenkou0410-mtl(src="assets/models/progbox/box_kenkou0410.mtl")
                a-asset-item#progbox-kenkou0414-mtl(src="assets/models/progbox/box_kenkou0414.mtl")
                a-asset-item#progbox-kuromon0310-mtl(src="assets/models/progbox/box_kuromon0310.mtl")
                a-asset-item#progbox-kuromon0415-mtl(src="assets/models/progbox/box_kuromon0415.mtl")

                //3D models - numbers
                a-asset-item#black-mtl(src="assets/models/numbers/black.mtl")
                a-asset-item#red-mtl(src="assets/models/numbers/red.mtl")
                a-asset-item#num_-obj(src="assets/models/numbers/slash.obj")
                a-asset-item#num0-obj(src="assets/models/numbers/0.obj")
                a-asset-item#num1-obj(src="assets/models/numbers/1.obj")
                a-asset-item#num2-obj(src="assets/models/numbers/2.obj")
                a-asset-item#num3-obj(src="assets/models/numbers/3.obj")
                a-asset-item#num4-obj(src="assets/models/numbers/4.obj")
                a-asset-item#num5-obj(src="assets/models/numbers/5.obj")
                a-asset-item#num6-obj(src="assets/models/numbers/6.obj")
                a-asset-item#num7-obj(src="assets/models/numbers/7.obj")
                a-asset-item#num8-obj(src="assets/models/numbers/8.obj")
                a-asset-item#num9-obj(src="assets/models/numbers/9.obj")

                //3D models - arrow
                a-asset-item#up-mtl(src="assets/models/arrow/up.mtl")
                a-asset-item#up-obj(src="assets/models/arrow/up.obj")
                a-asset-item#down-mtl(src="assets/models/arrow/down.mtl")
                a-asset-item#down-obj(src="assets/models/arrow/down.obj")

                // About
                img#img_kaijo(src="assets/img/cmenu_venue.png")
                img#img_toudansha(src="assets/img/cmenu_toudansha.png")
                img#img_program(src="assets/img/cmenu_program.png")
                img#img_areamap(src="assets/img/cmenu_areamap.png")
                img#img_aboutfes(src="assets/img/cmenu_documemento.png")
                img#img_aboutfes_j(src="assets/img/cmenu_documemento_j.png")

                img#topinfo1(src="assets/img/top_info1024.png")
                img#topinfo2(src="assets/img/top_info2_1024.png")
                img#topinfo3(src="assets/img/top_info3_1024.png")

                //PROGRAMS
                img#img_prog_matsumoto0310(src="assets/img/p/prog_matsumoto0310_s.png")
                img#img_prog_matsumoto0410(src="assets/img/p/prog_matsumoto0410_s.png")
                img#img_prog_matsumoto0414(src="assets/img/p/prog_matsumoto0414_s.png")
                img#img_prog_kaido0310(src="assets/img/p/prog_kaido0310_s.png")
                img#img_prog_kaido0312(src="assets/img/p/prog_kaido0312_s.png")
                img#img_prog_kaido0313(src="assets/img/p/prog_kaido0313_s.png")
                img#img_prog_kaido0410(src="assets/img/p/prog_kaido0410_s.png")
                img#img_prog_kaido0413(src="assets/img/p/prog_kaido0413_s.png")
                img#img_prog_kaido0414(src="assets/img/p/prog_kaido0414_s.png")
                img#img_prog_honshoji0313(src="assets/img/p/prog_honshoji0313_s.png")
                img#img_prog_honshoji0316(src="assets/img/p/prog_honshoji0316_s.png")
                img#img_prog_honshoji0412(src="assets/img/p/prog_honshoji0412_s.png")
                img#img_prog_honshoji0416(src="assets/img/p/prog_honshoji0416_s.png")
                img#img_prog_yatai0316(src="assets/img/p/prog_yatai0316_s.png")
                img#img_prog_yatai0318(src="assets/img/p/prog_yatai0318_s.png")
                img#img_prog_yatai0320(src="assets/img/p/prog_yatai0320_s.png")
                img#img_prog_yatai0417(src="assets/img/p/prog_yatai0417_s.png")
                img#img_prog_yatai0419(src="assets/img/p/prog_yatai0419_s.png")
                img#img_prog_yatai0421(src="assets/img/p/prog_yatai0421_s.png")
                img#img_prog_kenkou0410(src="assets/img/p/prog_kenkou0410_s.png")
                img#img_prog_kenkou0414(src="assets/img/p/prog_kenkou0414_s.png")
                img#img_prog_unagi0410(src="assets/img/p/prog_unagi0410_s.png")
                img#img_prog_unagi0414(src="assets/img/p/prog_unagi0414_s.png")
                img#img_prog_kuromon0310(src="assets/img/p/prog_kuromon0310_s.png")
                img#img_prog_kuromon0415(src="assets/img/p/prog_kuromon0415_s.png")

                //VENUES
                img#img_venue_yataimura(src="assets/img/venues/shinagawa_yataimura.png")
                img#img_venue_honshoji(src="assets/img/venues/shinagawa_honshoji.png")
                img#img_venue_matsumoto(src="assets/img/venues/shinagawa_matsumoto.png")
                img#img_venue_kaidocafe(src="assets/img/venues/shinagawa_kaido.png")
                img#img_venue_kenkou(src="assets/img/venues/shinagawa_kenkou.png")
                //img#img_venue_kuromon(src="assets/img/venues/shinagawa_kuromon.png")
                img#img_venue_unagi(src="assets/img/venues/shinagawa_unagi.png")

                img#img_shadow(src="assets/img/radial-shadow-2.png")

                //logos
                img#img_logo_bug(src="assets/img/buglogo.png")
                img#img_logo_tokyodocs(src="assets/img/tokyodocs_logo.jpg")
                img#img_logo_sog(src="assets/img/sog_logo.png")

                //////////  panelers
                //松井
                //img#panel_matsui_front(src="assets/img/panelists/p_text_matsui.png")
                //img#panel_matsui_back(src="assets/img/panelists/p_matsui.png")
                //米本
                img#panel_yonemoto_front(src="assets/img/panelists/p_text_yonemoto.png")
                img#panel_yonemoto_back(src="assets/img/panelists/p_yonemoto.png")
                //太田
                img#panel_ota_front(src="assets/img/panelists/p_text_ota.png")
                img#panel_ota_back(src="assets/img/panelists/p_ota.png")
                //内山
                img#panel_uchiyama_front(src="assets/img/panelists/p_text_uchiyama.png")
                img#panel_uchiyama_back(src="assets/img/panelists/p_uchiyama.png")
                //竹岡
                img#panel_takeoka_front(src="assets/img/panelists/p_text_takeoka.png")
                img#panel_takeoka_back(src="assets/img/panelists/p_takeoka.png")
                //奥間
                img#panel_okuma_front(src="assets/img/panelists/p_text_okuma.png")
                img#panel_okuma_back(src="assets/img/panelists/p_okuma.png")
                //関
                img#panel_kan_front(src="assets/img/panelists/p_text_kan.png")
                img#panel_kan_back(src="assets/img/panelists/p_kan.png")
                //日高
                img#panel_hidaka_front(src="assets/img/panelists/p_text_hidaka.png")
                img#panel_hidaka_back(src="assets/img/panelists/p_hidaka.png")
                //Tokyo
                //img#panel_tokyo_front(src="assets/img/panelists/p_text_tokyo.png")
                //img#panel_tokyo_back(src="assets/img/panelists/p_tokyo.png")
                //新福剣士
                img#panel_shinpuku_front(src="assets/img/panelists/p_text_shinpuku.png")
                img#panel_shinpuku_back(src="assets/img/panelists/p_shinpuku.png")
                //サムワンズガーデン
                img#panel_someonesgarden_front(src="assets/img/panelists/p_text_someonesgarden.png")
                img#panel_someonesgarden_back(src="assets/img/panelists/p_someonesgarden.png")
                //河合
                img#panel_kawai_front(src="assets/img/panelists/p_text_kawai.png")
                img#panel_kawai_back(src="assets/img/panelists/p_kawai.png")
                //のぶき
                img#panel_nobuki_front(src="assets/img/panelists/p_text_nobuki2.png")
                img#panel_nobuki_back(src="assets/img/panelists/p_nobuki2.png")
                //さいとうりょうじ
                img#panel_saitoh_front(src="assets/img/panelists/p_text_saitoh.png")
                img#panel_saitoh_back(src="assets/img/panelists/p_saitoh.png")
                //中村
                img#panel_nakamura_front(src="assets/img/panelists/p_text_nakamura.png")
                img#panel_nakamura_back(src="assets/img/panelists/p_nakamura.png")
                //安達
                img#panel_adachi_front(src="assets/img/panelists/p_text_adachi.png")
                img#panel_adachi_back(src="assets/img/panelists/p_adachi.png")
                //桜木
                img#panel_sakuragi_front(src="assets/img/panelists/p_text_sakuragi.png")
                img#panel_sakuragi_back(src="assets/img/panelists/p_sakuragi.png")
                //宮下
                img#panel_miyashita_front(src="assets/img/panelists/p_text_miyashita.png")
                img#panel_miyashita_back(src="assets/img/panelists/p_miyashita.png")
                //MOCA
                img#panel_moca_front(src="assets/img/panelists/p_text_moca.png")
                img#panel_moca_back(src="assets/img/panelists/p_moca.png")
                //SATO-C
                img#panel_satoc_front(src="assets/img/panelists/p_text_satoc.png")
                img#panel_satoc_back(src="assets/img/panelists/p_satoc.png")
                //西原
                img#panel_nishihara_front(src="assets/img/panelists/p_text_nishihara.png")
                img#panel_nishihara_back(src="assets/img/panelists/p_nishihara.png")
                //河崎
                img#panel_kawasaki_front(src="assets/img/panelists/p_text_kawasaki.png")
                img#panel_kawasaki_back(src="assets/img/panelists/p_kawasaki.png")
                //汪楠
                img#panel_wannan_front(src="assets/img/panelists/p_text_wannan.png")
                img#panel_wannan_back(src="assets/img/panelists/p_wannan.png")
                //柳田
                img#panel_yanagida_front(src="assets/img/panelists/p_text_yanagida.png")
                img#panel_yanagida_back(src="assets/img/panelists/p_yanagida.png")
                //Setain
                img#panel_sein_front(src="assets/img/panelists/p_text_sein.png")
                img#panel_sein_back(src="assets/img/panelists/p_sein.png")
                //MadBen
                img#panel_madben_front(src="assets/img/panelists/p_text_madben.png")
                img#panel_madben_back(src="assets/img/panelists/p_madben.png")



            ///////////////////  3D MODELS

            a-entity#panelbox1(panelbox, position="0 45 -3")
                a-animation(attribute="rotation", from="0 100 0", to="0 -260 0", dur="15000", easing="linear", repeat="indefinite")
                a-collada-model(position="0 -0.1 0", rotation="0 20 0", scale="0.75 0.75 0.75", obj-model="obj: #panelbox-obj; mtl: #panelbox-mtl")

            a-entity#areamapbox(panelbox, position="0 45 -3")
                a-animation(attribute="rotation", from="0 100 0", to="0 -260 0", dur="15000", easing="linear", repeat="indefinite")
                a-collada-model(position="0 -0.1 0", rotation="0 20 0", scale="0.75 0.75 0.75", obj-model="obj: #panelbox-obj; mtl: #areamap-mtl")

            a-entity#lantan(position="0.5 45 -3")
                a-animation(attribute="rotation", from="0 100 0", to="0 -260 0", dur="15000", easing="linear", repeat="indefinite")
                a-collada-model(position="0 0 0", rotation="0 20 0", scale="1.5 1.5 1.5", obj-model="obj: #lantan-obj; mtl: #lantan-mtl")

            //a-entity#amagi(position="0 45 -3")
                a-animation(attribute="rotation", from="0 -30 0", to="0 330 0", dur="15000", easing="linear", repeat="indefinite")
                a-collada-model(position="0 0 0", rotation="0 -20 0", scale="1.5 1.5 1.5", obj-model="obj: #amagi-obj; mtl: #amagi-mtl")
                a-image#shadow(src="#img_shadow", rotation="-90 0 0", scale="2.5 1.5 1.5")

            a-entity#earth(position="0 45 -3")
                a-animation(attribute="rotation", from="0 -30 0", to="0 330 0", dur="15000", easing="linear", repeat="indefinite")
                a-collada-model(position="0 0 0", rotation="0 -20 0", scale="1.5 1.5 1.5", obj-model="obj: #earth-obj; mtl: #earth-mtl")
                a-image#shadow(src="#img_shadow", rotation="-90 0 0", scale="2.5 1.5 1.5")

            a-entity#infobox(position="0 0 -3")
                a-animation(attribute="rotation", from="0 -30 0", to="0 330 0", dur="15000", easing="linear", repeat="indefinite")
                a-collada-model(position="0 0 0", rotation="0 -20 0", scale="1.5 1.5 1.5", obj-model="obj: #infobox-obj; mtl: #infobox-mtl")

            a-entity#house_small(position="0 45 -3")
                a-animation(attribute="rotation", from="0 -30 0", to="0 330 0", dur="15000", easing="linear", repeat="indefinite")
                a-collada-model(position="0 0 0", rotation="0 -20 0", scale="1.5 1.5 1.5", obj-model="obj: #small-obj; mtl: #small-mtl")
                    a-animation(attribute="rotation", from="0 0 0", to="10 0 0", dur="12000", easing="ease-in-out", repeat="indefinite", direction="alternate")
                a-image#shadow(src="#img_shadow", rotation="-90 0 0", scale="2.5 1.5 1.5")

            a-entity#house_large(position="0 0 -3")
                a-animation(attribute="rotation", from="0 330 0", to="0 -30 0", dur="80000", repeat="indefinite", easing="linear")
                a-collada-model(position="-.35 0 .55", rotation="0 -20 0", scale="1.5 1.5 1.5", obj-model="obj: #large-obj; mtl: #small-mtl")

            /////////////////  Programs
            a-cylinder#nav_zone(position="0 0 0", radius="6", height="1.6", side="back", open-ended="true", color="#FFF",opacity="0.2")
                a-cylinder(position="0 0 0", radius="5.99", height="0.03", side="back", open-ended="true", color="#ef12a4",opacity="0.5")

                a-entity#programs
                    a-image(prog, id="matsumoto0310", type="prog", href="/assets/site/prog_jodou.html" src="#img_prog_matsumoto0310", width="5", height="13", scale="0.2 0.2 1", auto_rotate)
                        a-collada-model.d1(position="-0.95 6.5 0", rotation="0 0 0", scale="1.2 1.2 0.2", num3D, num="0")
                        a-collada-model.d2(position="-0.4 6.5 0", rotation="0 0 0", scale="1.2 1.2 0.2", num3D, num="0")
                        a-collada-model(position="0 6.5 0", rotation="0 0 0", scale="1 1 0.2",'obj-model'="obj: #num_-obj; mtl: #red-mtl")
                        a-collada-model.d3(position="0.3 6.5 0", rotation="0 0 0", scale="1 1 0.2", num3D, num="0", type="limit")
                        a-collada-model.d4(position="0.75 6.5 0", rotation="0 0 0", scale="1 1 0.2", num3D, num="0", type="limit")
                    a-image(prog, id="matsumoto0410", type="prog", src="#img_prog_matsumoto0410", href="/assets/site/sein.html", width="5", height="13", scale="0.2 0.2 1", auto_rotate)
                        a-collada-model.d1(position="-0.95 6.5 0", rotation="0 0 0", scale="1.2 1.2 0.2", num3D, num="0")
                        a-collada-model.d2(position="-0.4 6.5 0", rotation="0 0 0", scale="1.2 1.2 0.2", num3D, num="0")
                        a-collada-model(position="0 6.5 0", rotation="0 0 0", scale="1 1 0.2",'obj-model'="obj: #num_-obj; mtl: #red-mtl")
                        a-collada-model.d3(position="0.3 6.5 0", rotation="0 0 0", scale="1 1 0.2", num3D, num="0", type="limit")
                        a-collada-model.d4(position="0.75 6.5 0", rotation="0 0 0", scale="1 1 0.2", num3D, num="0", type="limit")

                    a-image(prog, id="matsumoto0414", type="prog", src="#img_prog_matsumoto0414", href="/assets/site/sein.html", width="5", height="13", scale="0.2 0.2 1", auto_rotate)
                        a-collada-model.d1(position="-0.95 6.5 0", rotation="0 0 0", scale="1.2 1.2 0.2", num3D, num="0")
                        a-collada-model.d2(position="-0.4 6.5 0", rotation="0 0 0", scale="1.2 1.2 0.2", num3D, num="0")
                        a-collada-model(position="0 6.5 0", rotation="0 0 0", scale="1 1 0.2",'obj-model'="obj: #num_-obj; mtl: #red-mtl")
                        a-collada-model.d3(position="0.3 6.5 0", rotation="0 0 0", scale="1 1 0.2", num3D, num="0", type="limit")
                        a-collada-model.d4(position="0.75 6.5 0", rotation="0 0 0", scale="1 1 0.2", num3D, num="0", type="limit")

                    a-image(prog, id="kaido0310", type="prog", src="#img_prog_kaido0310", width="5", height="13", scale="0.2 0.2 1", auto_rotate)
                        a-collada-model.d1(position="-0.95 6.5 0", rotation="0 0 0", scale="1.2 1.2 0.2", num3D, num="0")
                        a-collada-model.d2(position="-0.4 6.5 0", rotation="0 0 0", scale="1.2 1.2 0.2", num3D, num="0")
                        a-collada-model(position="0 6.5 0", rotation="0 0 0", scale="1 1 0.2",'obj-model'="obj: #num_-obj; mtl: #red-mtl")
                        a-collada-model.d3(position="0.3 6.5 0", rotation="0 0 0", scale="1 1 0.2", num3D, num="0", type="limit")
                        a-collada-model.d4(position="0.75 6.5 0", rotation="0 0 0", scale="1 1 0.2", num3D, num="0", type="limit")

                    a-image(prog, id="kaido0312", type="prog", src="#img_prog_kaido0312", width="5", height="13", scale="0.2 0.2 1", auto_rotate)
                        a-collada-model.d1(position="-0.95 6.5 0", rotation="0 0 0", scale="1.2 1.2 0.2", num3D, num="0")
                        a-collada-model.d2(position="-0.4 6.5 0", rotation="0 0 0", scale="1.2 1.2 0.2", num3D, num="0")
                        a-collada-model(position="0 6.5 0", rotation="0 0 0", scale="1 1 0.2",'obj-model'="obj: #num_-obj; mtl: #red-mtl")
                        a-collada-model.d3(position="0.3 6.5 0", rotation="0 0 0", scale="1 1 0.2", num3D, num="0", type="limit")
                        a-collada-model.d4(position="0.75 6.5 0", rotation="0 0 0", scale="1 1 0.2", num3D, num="0", type="limit")

                    a-image(prog, id="kaido0313", type="prog", src="#img_prog_kaido0313", width="5", height="13", scale="0.2 0.2 1", auto_rotate)
                        a-collada-model.d1(position="-0.95 6.5 0", rotation="0 0 0", scale="1.2 1.2 0.2", num3D, num="0")
                        a-collada-model.d2(position="-0.4 6.5 0", rotation="0 0 0", scale="1.2 1.2 0.2", num3D, num="0")
                        a-collada-model(position="0 6.5 0", rotation="0 0 0", scale="1 1 0.2",'obj-model'="obj: #num_-obj; mtl: #red-mtl")
                        a-collada-model.d3(position="0.3 6.5 0", rotation="0 0 0", scale="1 1 0.2", num3D, num="0", type="limit")
                        a-collada-model.d4(position="0.75 6.5 0", rotation="0 0 0", scale="1 1 0.2", num3D, num="0", type="limit")

                    a-image(prog, id="kaido0410", type="prog", src="#img_prog_kaido0410", width="5", height="13", scale="0.2 0.2 1", auto_rotate)
                        a-collada-model.d1(position="-0.95 6.5 0", rotation="0 0 0", scale="1.2 1.2 0.2", num3D, num="0")
                        a-collada-model.d2(position="-0.4 6.5 0", rotation="0 0 0", scale="1.2 1.2 0.2", num3D, num="0")
                        a-collada-model(position="0 6.5 0", rotation="0 0 0", scale="1 1 0.2",'obj-model'="obj: #num_-obj; mtl: #red-mtl")
                        a-collada-model.d3(position="0.3 6.5 0", rotation="0 0 0", scale="1 1 0.2", num3D, num="0", type="limit")
                        a-collada-model.d4(position="0.75 6.5 0", rotation="0 0 0", scale="1 1 0.2", num3D, num="0", type="limit")

                    a-image(prog, id="kaido0413", type="prog", src="#img_prog_kaido0413", width="5", height="13", scale="0.2 0.2 1", auto_rotate)
                        a-collada-model.d1(position="-0.95 6.5 0", rotation="0 0 0", scale="1.2 1.2 0.2", num3D, num="0")
                        a-collada-model.d2(position="-0.4 6.5 0", rotation="0 0 0", scale="1.2 1.2 0.2", num3D, num="0")
                        a-collada-model(position="0 6.5 0", rotation="0 0 0", scale="1 1 0.2",'obj-model'="obj: #num_-obj; mtl: #red-mtl")
                        a-collada-model.d3(position="0.3 6.5 0", rotation="0 0 0", scale="1 1 0.2", num3D, num="0", type="limit")
                        a-collada-model.d4(position="0.75 6.5 0", rotation="0 0 0", scale="1 1 0.2", num3D, num="0", type="limit")

                    a-image(prog, id="kaido0414", type="prog", src="#img_prog_kaido0414", width="5", height="13", scale="0.2 0.2 1", auto_rotate)
                        a-collada-model.d1(position="-0.95 6.5 0", rotation="0 0 0", scale="1.2 1.2 0.2", num3D, num="0")
                        a-collada-model.d2(position="-0.4 6.5 0", rotation="0 0 0", scale="1.2 1.2 0.2", num3D, num="0")
                        a-collada-model(position="0 6.5 0", rotation="0 0 0", scale="1 1 0.2",'obj-model'="obj: #num_-obj; mtl: #red-mtl")
                        a-collada-model.d3(position="0.3 6.5 0", rotation="0 0 0", scale="1 1 0.2", num3D, num="0", type="limit")
                        a-collada-model.d4(position="0.75 6.5 0", rotation="0 0 0", scale="1 1 0.2", num3D, num="0", type="limit")

                    a-image(prog, id="honshoji0313", href="/assets/site/prog_hourou.html", type="prog", src="#img_prog_honshoji0313", width="5", height="13", scale="0.2 0.2 1", auto_rotate)
                        a-collada-model.d1(position="-0.95 6.5 0", rotation="0 0 0", scale="1.2 1.2 0.2", num3D, num="0")
                        a-collada-model.d2(position="-0.4 6.5 0", rotation="0 0 0", scale="1.2 1.2 0.2", num3D, num="0")
                        a-collada-model(position="0 6.5 0", rotation="0 0 0", scale="1 1 0.2",'obj-model'="obj: #num_-obj; mtl: #red-mtl")
                        a-collada-model.d3(position="0.3 6.5 0", rotation="0 0 0", scale="1 1 0.2", num3D, num="0", type="limit")
                        a-collada-model.d4(position="0.75 6.5 0", rotation="0 0 0", scale="1 1 0.2", num3D, num="0", type="limit")

                    a-image(prog, id="honshoji0316", href="/assets/site/prog_heishia.html", type="prog", src="#img_prog_honshoji0316", width="5", height="13", scale="0.2 0.2 1", auto_rotate)
                        a-collada-model.d1(position="-0.95 6.5 0", rotation="0 0 0", scale="1.2 1.2 0.2", num3D, num="0")
                        a-collada-model.d2(position="-0.4 6.5 0", rotation="0 0 0", scale="1.2 1.2 0.2", num3D, num="0")
                        a-collada-model(position="0 6.5 0", rotation="0 0 0", scale="1 1 0.2",'obj-model'="obj: #num_-obj; mtl: #red-mtl")
                        a-collada-model.d3(position="0.3 6.5 0", rotation="0 0 0", scale="1 1 0.2", num3D, num="0", type="limit")
                        a-collada-model.d4(position="0.75 6.5 0", rotation="0 0 0", scale="1 1 0.2", num3D, num="0", type="limit")

                    a-image(prog, id="honshoji0412", href="/assets/site/prog_hourou.html", type="prog", src="#img_prog_honshoji0412", width="5", height="13", scale="0.2 0.2 1", auto_rotate)
                        a-collada-model.d1(position="-0.95 6.5 0", rotation="0 0 0", scale="1.2 1.2 0.2", num3D, num="0")
                        a-collada-model.d2(position="-0.4 6.5 0", rotation="0 0 0", scale="1.2 1.2 0.2", num3D, num="0")
                        a-collada-model(position="0 6.5 0", rotation="0 0 0", scale="1 1 0.2",'obj-model'="obj: #num_-obj; mtl: #red-mtl")
                        a-collada-model.d3(position="0.3 6.5 0", rotation="0 0 0", scale="1 1 0.2", num3D, num="0", type="limit")
                        a-collada-model.d4(position="0.75 6.5 0", rotation="0 0 0", scale="1 1 0.2", num3D, num="0", type="limit")

                    a-image(prog, id="honshoji0416", href="/assets/site/prog_tanaka.html", type="prog", src="#img_prog_honshoji0416", width="5", height="13", scale="0.2 0.2 1", auto_rotate)
                        a-collada-model.d1(position="-0.95 6.5 0", rotation="0 0 0", scale="1.2 1.2 0.2", num3D, num="0")
                        a-collada-model.d2(position="-0.4 6.5 0", rotation="0 0 0", scale="1.2 1.2 0.2", num3D, num="0")
                        a-collada-model(position="0 6.5 0", rotation="0 0 0", scale="1 1 0.2",'obj-model'="obj: #num_-obj; mtl: #red-mtl")
                        a-collada-model.d3(position="0.3 6.5 0", rotation="0 0 0", scale="1 1 0.2", num3D, num="0", type="limit")
                        a-collada-model.d4(position="0.75 6.5 0", rotation="0 0 0", scale="1 1 0.2", num3D, num="0", type="limit")

                    a-image(prog, id="yatai0316", type="prog", href="/assets/site/prog_doglegs.html",src="#img_prog_yatai0316", width="5", height="13", scale="0.2 0.2 1", auto_rotate)
                        a-collada-model.d1(position="-0.95 6.5 0", rotation="0 0 0", scale="1.2 1.2 0.2", num3D, num="0")
                        a-collada-model.d2(position="-0.4 6.5 0", rotation="0 0 0", scale="1.2 1.2 0.2", num3D, num="0")
                        a-collada-model(position="0 6.5 0", rotation="0 0 0", scale="1 1 0.2",'obj-model'="obj: #num_-obj; mtl: #red-mtl")
                        a-collada-model.d3(position="0.3 6.5 0", rotation="0 0 0", scale="1 1 0.2", num3D, num="0", type="limit")
                        a-collada-model.d4(position="0.75 6.5 0", rotation="0 0 0", scale="1 1 0.2", num3D, num="0", type="limit")

                    a-image(prog, id="yatai0318", type="prog", src="#img_prog_yatai0318", width="5", height="13", scale="0.2 0.2 1", auto_rotate)
                        a-collada-model.d1(position="-0.95 6.5 0", rotation="0 0 0", scale="1.2 1.2 0.2", num3D, num="0")
                        a-collada-model.d2(position="-0.4 6.5 0", rotation="0 0 0", scale="1.2 1.2 0.2", num3D, num="0")
                        a-collada-model(position="0 6.5 0", rotation="0 0 0", scale="1 1 0.2",'obj-model'="obj: #num_-obj; mtl: #red-mtl")
                        a-collada-model.d3(position="0.3 6.5 0", rotation="0 0 0", scale="1 1 0.2", num3D, num="0", type="limit")
                        a-collada-model.d4(position="0.75 6.5 0", rotation="0 0 0", scale="1 1 0.2", num3D, num="0", type="limit")

                    a-image(prog, id="yatai0320", type="prog", src="#img_prog_yatai0320", width="5", height="13", scale="0.2 0.2 1", auto_rotate)
                        a-collada-model.d1(position="-0.95 6.5 0", rotation="0 0 0", scale="1.2 1.2 0.2", num3D, num="0")
                        a-collada-model.d2(position="-0.4 6.5 0", rotation="0 0 0", scale="1.2 1.2 0.2", num3D, num="0")
                        a-collada-model(position="0 6.5 0", rotation="0 0 0", scale="1 1 0.2",'obj-model'="obj: #num_-obj; mtl: #red-mtl")
                        a-collada-model.d3(position="0.3 6.5 0", rotation="0 0 0", scale="1 1 0.2", num3D, num="0", type="limit")
                        a-collada-model.d4(position="0.75 6.5 0", rotation="0 0 0", scale="1 1 0.2", num3D, num="0", type="limit")

                    a-image(prog, id="yatai0417", type="prog", href="/assets/site/prog_kaihouku.html", src="#img_prog_yatai0417", width="5", height="13", scale="0.2 0.2 1", auto_rotate)
                        a-collada-model.d1(position="-0.95 6.5 0", rotation="0 0 0", scale="1.2 1.2 0.2", num3D, num="0")
                        a-collada-model.d2(position="-0.4 6.5 0", rotation="0 0 0", scale="1.2 1.2 0.2", num3D, num="0")
                        a-collada-model(position="0 6.5 0", rotation="0 0 0", scale="1 1 0.2",'obj-model'="obj: #num_-obj; mtl: #red-mtl")
                        a-collada-model.d3(position="0.3 6.5 0", rotation="0 0 0", scale="1 1 0.2", num3D, num="0", type="limit")
                        a-collada-model.d4(position="0.75 6.5 0", rotation="0 0 0", scale="1 1 0.2", num3D, num="0", type="limit")

                    a-image(prog, id="yatai0419", type="prog", src="#img_prog_yatai0419", width="5", height="13", scale="0.2 0.2 1", auto_rotate)
                        a-collada-model.d1(position="-0.95 6.5 0", rotation="0 0 0", scale="1.2 1.2 0.2", num3D, num="0")
                        a-collada-model.d2(position="-0.4 6.5 0", rotation="0 0 0", scale="1.2 1.2 0.2", num3D, num="0")
                        a-collada-model(position="0 6.5 0", rotation="0 0 0", scale="1 1 0.2",'obj-model'="obj: #num_-obj; mtl: #red-mtl")
                        a-collada-model.d3(position="0.3 6.5 0", rotation="0 0 0", scale="1 1 0.2", num3D, num="0", type="limit")
                        a-collada-model.d4(position="0.75 6.5 0", rotation="0 0 0", scale="1 1 0.2", num3D, num="0", type="limit")

                    a-image(prog, id="yatai0421", type="prog", src="#img_prog_yatai0421", width="5", height="13", scale="0.2 0.2 1", auto_rotate)
                        a-collada-model.d1(position="-0.95 6.5 0", rotation="0 0 0", scale="1.2 1.2 0.2", num3D, num="0")
                        a-collada-model.d2(position="-0.4 6.5 0", rotation="0 0 0", scale="1.2 1.2 0.2", num3D, num="0")
                        a-collada-model(position="0 6.5 0", rotation="0 0 0", scale="1 1 0.2",'obj-model'="obj: #num_-obj; mtl: #red-mtl")
                        a-collada-model.d3(position="0.3 6.5 0", rotation="0 0 0", scale="1 1 0.2", num3D, num="0", type="limit")
                        a-collada-model.d4(position="0.75 6.5 0", rotation="0 0 0", scale="1 1 0.2", num3D, num="0", type="limit")

                    a-image(prog, id="kenkou0410", type="prog", href="/assets/site/prog_dance.html", src="#img_prog_kenkou0410", width="5", height="13", scale="0.2 0.2 1", auto_rotate)
                        a-collada-model.d1(position="-0.95 6.5 0", rotation="0 0 0", scale="1.2 1.2 0.2", num3D, num="0")
                        a-collada-model.d2(position="-0.4 6.5 0", rotation="0 0 0", scale="1.2 1.2 0.2", num3D, num="0")
                        a-collada-model(position="0 6.5 0", rotation="0 0 0", scale="1 1 0.2",'obj-model'="obj: #num_-obj; mtl: #red-mtl")
                        a-collada-model.d3(position="0.3 6.5 0", rotation="0 0 0", scale="1 1 0.2", num3D, num="0", type="limit")
                        a-collada-model.d4(position="0.75 6.5 0", rotation="0 0 0", scale="1 1 0.2", num3D, num="0", type="limit")

                    a-image(prog, id="kenkou0414", type="prog", href="/assets/site/prog_maki.html", src="#img_prog_kenkou0414", width="5", height="13", scale="0.2 0.2 1", auto_rotate)
                        a-collada-model.d1(position="-0.95 6.5 0", rotation="0 0 0", scale="1.2 1.2 0.2", num3D, num="0")
                        a-collada-model.d2(position="-0.4 6.5 0", rotation="0 0 0", scale="1.2 1.2 0.2", num3D, num="0")
                        a-collada-model(position="0 6.5 0", rotation="0 0 0", scale="1 1 0.2",'obj-model'="obj: #num_-obj; mtl: #red-mtl")
                        a-collada-model.d3(position="0.3 6.5 0", rotation="0 0 0", scale="1 1 0.2", num3D, num="0", type="limit")
                        a-collada-model.d4(position="0.75 6.5 0", rotation="0 0 0", scale="1 1 0.2", num3D, num="0", type="limit")

                    a-image(prog, id="unagi0410", type="prog", href="/assets/site/prog_hakego.html", src="#img_prog_unagi0410", width="5", height="13", scale="0.2 0.2 1", auto_rotate)
                        a-collada-model.d1(position="-0.95 6.5 0", rotation="0 0 0", scale="1.2 1.2 0.2", num3D, num="0")
                        a-collada-model.d2(position="-0.4 6.5 0", rotation="0 0 0", scale="1.2 1.2 0.2", num3D, num="0")
                        a-collada-model(position="0 6.5 0", rotation="0 0 0", scale="1 1 0.2",'obj-model'="obj: #num_-obj; mtl: #red-mtl")
                        a-collada-model.d3(position="0.3 6.5 0", rotation="0 0 0", scale="1 1 0.2", num3D, num="0", type="limit")
                        a-collada-model.d4(position="0.75 6.5 0", rotation="0 0 0", scale="1 1 0.2", num3D, num="0", type="limit")

                    a-image(prog, id="unagi0414", type="prog", href="/assets/site/prog_hakego.html", src="#img_prog_unagi0414", width="5", height="13", scale="0.2 0.2 1", auto_rotate)
                        a-collada-model.d1(position="-0.95 6.5 0", rotation="0 0 0", scale="1.2 1.2 0.2", num3D, num="0")
                        a-collada-model.d2(position="-0.4 6.5 0", rotation="0 0 0", scale="1.2 1.2 0.2", num3D, num="0")
                        a-collada-model(position="0 6.5 0", rotation="0 0 0", scale="1 1 0.2",'obj-model'="obj: #num_-obj; mtl: #red-mtl")
                        a-collada-model.d3(position="0.3 6.5 0", rotation="0 0 0", scale="1 1 0.2", num3D, num="0", type="limit")
                        a-collada-model.d4(position="0.75 6.5 0", rotation="0 0 0", scale="1 1 0.2", num3D, num="0", type="limit")

                    a-image(prog, id="kuromon0310", type="prog",href="/assets/site/prog_kodomo.html", src="#img_prog_kuromon0310", width="5", height="13", scale="0.2 0.2 1", auto_rotate)
                        a-collada-model.d1(position="-0.95 6.5 0", rotation="0 0 0", scale="1.2 1.2 0.2", num3D, num="0")
                        a-collada-model.d2(position="-0.4 6.5 0", rotation="0 0 0", scale="1.2 1.2 0.2", num3D, num="0")
                        a-collada-model(position="0 6.5 0", rotation="0 0 0", scale="1 1 0.2",'obj-model'="obj: #num_-obj; mtl: #red-mtl")
                        a-collada-model.d3(position="0.3 6.5 0", rotation="0 0 0", scale="1 1 0.2", num3D, num="0", type="limit")
                        a-collada-model.d4(position="0.75 6.5 0", rotation="0 0 0", scale="1 1 0.2", num3D, num="0", type="limit")

                    a-image(prog, id="kuromon0415", type="prog", href="/assets/site/prog_kodomo.html", src="#img_prog_kuromon0415", width="5", height="13", scale="0.2 0.2 1", auto_rotate)
                        a-collada-model.d1(position="-0.95 6.5 0", rotation="0 0 0", scale="1.2 1.2 0.2", num3D, num="0")
                        a-collada-model.d2(position="-0.4 6.5 0", rotation="0 0 0", scale="1.2 1.2 0.2", num3D, num="0")
                        a-collada-model(position="0 6.5 0", rotation="0 0 0", scale="1 1 0.2",'obj-model'="obj: #num_-obj; mtl: #red-mtl")
                        a-collada-model.d3(position="0.3 6.5 0", rotation="0 0 0", scale="1 1 0.2", num3D, num="0", type="limit")
                        a-collada-model.d4(position="0.75 6.5 0", rotation="0 0 0", scale="1 1 0.2", num3D, num="0", type="limit")

                a-entity#venues
                    a-image#venue_yataimura(venu, name="yatai", type="venue", src="#img_venue_yataimura", width="5", height="12", scale="0.2 0.2 1", auto_rotate, n=0)
                    a-image#venue_honshoji(venu, name="honshoji", type="venue", src="#img_venue_honshoji", width="5", height="12", scale="0.2 0.2 1", auto_rotate, n=1)
                    a-image#venue_matsumoto(venu, name="matsumoto", type="venue", src="#img_venue_matsumoto", width="5", height="12", scale="0.2 0.2 1", auto_rotate, n=2)
                    a-image#venue_kaidocafe(venu, name="kaido", type="venue", src="#img_venue_kaidocafe", width="5", height="12", scale="0.2 0.2 1", auto_rotate, n=6)
                    a-image#venue_kenkou(venu, name="tokaido1", type="venue", src="#img_venue_kenkou", width="5", height="12", scale="0.2 0.2 1", auto_rotate, n=7)
                    //a-image#venue_kuromon(venu, name="tokaido2", type="venue", src="#img_venue_kuromon", width="5", height="12", scale="0.2 0.2 1", auto_rotate, n=8)
                    a-image#venue_unagi(venu, name="tokaido1", type="venue", src="#img_venue_unagi", width="5", height="12", scale="0.2 0.2 1", auto_rotate, n=8)


                a-entity#topinfo
                    a-image#top_topinfo1(prog, type="topinfo", src="#topinfo1", y=2.3, width="4", height="6", scale="0.5 0.5 1", n=0)
                    a-image#top_topinfo3(prog, href="/about", type="topinfo", src="#topinfo3", y=2.3, width="4", height="6", scale="0.5 0.5 1", n=4)
                    a-image#top_topinfo2(prog, href="https://motion-gallery.net/projects/documemento", type="topinfo", src="#topinfo2", y=2.3, width="4", height="6", scale="0.5 0.5 1", n=5)

            /////////////////  Panellers

            a-entity#panellers

                a-image(id="someonesgarden", type="panel",  paneler, src="#panel_someonesgarden_front", width="4", height="8",position="0 0 3", scale="0.5 0.5 0.5", backsrc="#panel_someonesgarden_back")
                    a-collada-model.d1(position="-0.3 3 0", rotation="0 0 0", scale="0.6 0.6 0.6", num3D, num="0")
                    a-collada-model.d2(position="0 3 0", rotation="0 0 0", scale="0.6 0.6 0.6", num3D, num="0")
                    a-collada-model.d3(position="0.3 3 0", rotation="0 0 0", scale="0.6 0.6 0.6", num3D, num="0")
                    a-collada-model(arrow,scale="0.6 0.6 0.6", type="up")
                    a-collada-model(arrow,scale="0.6 0.6 0.6", type="down")
                a-image(id="hidaka", type="panel", audio="audio_hidaka", href="/assets/site/hidaka.html", paneler, src="#panel_hidaka_front", width="4", height="8",position="0 0 3",  scale="0.5 0.5 0.5", backsrc="#panel_hidaka_back")
                    a-collada-model.d1(position="-0.3 3 0", rotation="0 0 0", scale="0.6 0.6 0.6", num3D, num="0")
                    a-collada-model.d2(position="0 3 0", rotation="0 0 0", scale="0.6 0.6 0.6", num3D, num="0")
                    a-collada-model.d3(position="0.3 3 0", rotation="0 0 0", scale="0.6 0.6 0.6", num3D, num="0")
                    a-collada-model(arrow,scale="0.6 0.6 0.6", type="up")
                    a-collada-model(arrow,scale="0.6 0.6 0.6", type="down")
                a-image(id="kan", type="panel", paneler, src="#panel_kan_front", width="4", height="8",position="0 0 3",  scale="0.5 0.5 0.5", backsrc="#panel_kan_back")
                    a-collada-model.d1(position="-0.3 3 0", rotation="0 0 0", scale="0.6 0.6 0.6", num3D, num="0")
                    a-collada-model.d2(position="0 3 0", rotation="0 0 0", scale="0.6 0.6 0.6", num3D, num="0")
                    a-collada-model.d3(position="0.3 3 0", rotation="0 0 0", scale="0.6 0.6 0.6", num3D, num="0")
                    a-collada-model(arrow,scale="0.6 0.6 0.6", type="up")
                    a-collada-model(arrow,scale="0.6 0.6 0.6", type="down")
                a-image(id="saitoh", type="panel", audio="audio_saitoh", paneler, src="#panel_saitoh_front", width="4", height="8",position="0 0 3",  scale="0.5 0.5 0.5", backsrc="#panel_saitoh_back")
                     a-collada-model.d1(position="-0.3 3 0", rotation="0 0 0", scale="0.6 0.6 0.6", num3D, num="0")
                     a-collada-model.d2(position="0 3 0", rotation="0 0 0", scale="0.6 0.6 0.6", num3D, num="0")
                     a-collada-model.d3(position="0.3 3 0", rotation="0 0 0", scale="0.6 0.6 0.6", num3D, num="0")
                     a-collada-model(arrow,scale="0.6 0.6 0.6", type="up")
                     a-collada-model(arrow,scale="0.6 0.6 0.6", type="down")
                a-image(id="okuma", type="panel", audio="audio_okuma", href="/assets/site/okuma.html", paneler, src="#panel_okuma_front", width="4", height="8",position="0 0 3",  scale="0.5 0.5 0.5", backsrc="#panel_okuma_back")
                    a-collada-model.d1(position="-0.3 3 0", rotation="0 0 0", scale="0.6 0.6 0.6", num3D, num="0")
                    a-collada-model.d2(position="0 3 0", rotation="0 0 0", scale="0.6 0.6 0.6", num3D, num="0")
                    a-collada-model.d3(position="0.3 3 0", rotation="0 0 0", scale="0.6 0.6 0.6", num3D, num="0")
                    a-collada-model(arrow,scale="0.6 0.6 0.6", type="up")
                    a-collada-model(arrow,scale="0.6 0.6 0.6", type="down")

                a-image(id="takeoka", type="panel", paneler, src="#panel_takeoka_front", width="4", height="8",position="0 0 3",  scale="0.5 0.5 0.5", backsrc="#panel_takeoka_back")
                    a-collada-model.d1(position="-0.3 3 0", rotation="0 0 0", scale="0.6 0.6 0.6", num3D, num="0")
                    a-collada-model.d2(position="0 3 0", rotation="0 0 0", scale="0.6 0.6 0.6", num3D, num="0")
                    a-collada-model.d3(position="0.3 3 0", rotation="0 0 0", scale="0.6 0.6 0.6", num3D, num="0")
                    a-collada-model(arrow,scale="0.6 0.6 0.6", type="up")
                    a-collada-model(arrow,scale="0.6 0.6 0.6", type="down")
                a-image(id="ota", type="panel", paneler, href="/assets/site/ota.html", src="#panel_ota_front", width="4", height="8",position="0 0 3",  scale="0.5 0.5 0.5", backsrc="#panel_ota_back")
                    a-collada-model.d1(position="-0.3 3 0", rotation="0 0 0", scale="0.6 0.6 0.6", num3D, num="0")
                    a-collada-model.d2(position="0 3 0", rotation="0 0 0", scale="0.6 0.6 0.6", num3D, num="0")
                    a-collada-model.d3(position="0.3 3 0", rotation="0 0 0", scale="0.6 0.6 0.6", num3D, num="0")
                    a-collada-model(arrow,scale="0.6 0.6 0.6", type="up")
                    a-collada-model(arrow,scale="0.6 0.6 0.6", type="down")
                a-image(id="madben", type="panel", paneler, src="#panel_madben_front", width="4", height="8",position="0 0 3",  scale="0.5 0.5 0.5", backsrc="#panel_madben_back")
                    a-collada-model.d1(position="-0.3 3 0", rotation="0 0 0", scale="0.6 0.6 0.6", num3D, num="0")
                    a-collada-model.d2(position="0 3 0", rotation="0 0 0", scale="0.6 0.6 0.6", num3D, num="0")
                    a-collada-model.d3(position="0.3 3 0", rotation="0 0 0", scale="0.6 0.6 0.6", num3D, num="0")
                    a-collada-model(arrow,scale="0.6 0.6 0.6", type="up")
                    a-collada-model(arrow,scale="0.6 0.6 0.6", type="down")
                a-image(id="shinpuku", type="panel", paneler, audio="audio_shinpuku", href="/assets/site/shinpuku.html",src="#panel_shinpuku_front", width="4", height="8",position="0 0 3",  scale="0.5 0.5 0.5", backsrc="#panel_shinpuku_back")
                     a-collada-model.d1(position="-0.3 3 0", rotation="0 0 0", scale="0.6 0.6 0.6", num3D, num="0")
                     a-collada-model.d2(position="0 3 0", rotation="0 0 0", scale="0.6 0.6 0.6", num3D, num="0")
                     a-collada-model.d3(position="0.3 3 0", rotation="0 0 0", scale="0.6 0.6 0.6", num3D, num="0")
                     a-collada-model(arrow,scale="0.6 0.6 0.6", type="up")
                     a-collada-model(arrow,scale="0.6 0.6 0.6", type="down")
                a-image(id="kawasaki", type="panel", paneler, href="/assets/site/kawasaki.html", src="#panel_kawasaki_front", width="4", height="8",position="0 0 3",  scale="0.5 0.5 0.5", backsrc="#panel_kawasaki_back")
                    a-collada-model.d1(position="-0.3 3 0", rotation="0 0 0", scale="0.6 0.6 0.6", num3D, num="0")
                    a-collada-model.d2(position="0 3 0", rotation="0 0 0", scale="0.6 0.6 0.6", num3D, num="0")
                    a-collada-model.d3(position="0.3 3 0", rotation="0 0 0", scale="0.6 0.6 0.6", num3D, num="0")
                    a-collada-model(arrow,scale="0.6 0.6 0.6", type="up")
                    a-collada-model(arrow,scale="0.6 0.6 0.6", type="down")
                a-image(id="sein", type="panel", paneler, src="#panel_sein_front", href="/assets/site/sein.html", width="4", height="8",position="0 0 3",  scale="0.5 0.5 0.5", backsrc="#panel_sein_back")
                    a-collada-model.d1(position="-0.3 3 0", rotation="0 0 0", scale="0.6 0.6 0.6", num3D, num="0")
                    a-collada-model.d2(position="0 3 0", rotation="0 0 0", scale="0.6 0.6 0.6", num3D, num="0")
                    a-collada-model.d3(position="0.3 3 0", rotation="0 0 0", scale="0.6 0.6 0.6", num3D, num="0")
                    a-collada-model(arrow,scale="0.6 0.6 0.6", type="up")
                    a-collada-model(arrow,scale="0.6 0.6 0.6", type="down")
                //
                 a-image(id="matsui", type="panel", paneler, src="#panel_matsui_front", width="4", height="8", position="0 0 3", scale="0.5 0.5 0.5", backsrc="#panel_matsui_back")
                    a-collada-model.d1(position="-0.3 3 0", rotation="0 0 0", scale="0.6 0.6 0.6", num3D, num="0")
                    a-collada-model.d2(position="0 3 0", rotation="0 0 0", scale="0.6 0.6 0.6", num3D, num="0")
                    a-collada-model.d3(position="0.3 3 0", rotation="0 0 0", scale="0.6 0.6 0.6", num3D, num="0")
                    a-collada-model(arrow,scale="0.6 0.6 0.6", type="up")
                    a-collada-model(arrow,scale="0.6 0.6 0.6", type="down")
                a-image(id="yonemoto", type="panel", paneler, src="#panel_yonemoto_front", width="4", height="8",position="0 0 3",  scale="0.5 0.5 0.5", backsrc="#panel_yonemoto_back")
                    a-collada-model.d1(position="-0.3 3 0", rotation="0 0 0", scale="0.6 0.6 0.6", num3D, num="0")
                    a-collada-model.d2(position="0 3 0", rotation="0 0 0", scale="0.6 0.6 0.6", num3D, num="0")
                    a-collada-model.d3(position="0.3 3 0", rotation="0 0 0", scale="0.6 0.6 0.6", num3D, num="0")
                    a-collada-model(arrow,scale="0.6 0.6 0.6", type="up")
                    a-collada-model(arrow,scale="0.6 0.6 0.6", type="down")
                a-image(id="uchiyama", type="panel", audio="audio_uchiyama", paneler, href="/assets/site/uchiyama.html",src="#panel_uchiyama_front", width="4", height="8",position="0 0 3",  scale="0.5 0.5 0.5", backsrc="#panel_uchiyama_back")
                    a-collada-model.d1(position="-0.3 3 0", rotation="0 0 0", scale="0.6 0.6 0.6", num3D, num="0")
                    a-collada-model.d2(position="0 3 0", rotation="0 0 0", scale="0.6 0.6 0.6", num3D, num="0")
                    a-collada-model.d3(position="0.3 3 0", rotation="0 0 0", scale="0.6 0.6 0.6", num3D, num="0")
                    a-collada-model(arrow,scale="0.6 0.6 0.6", type="up")
                    a-collada-model(arrow,scale="0.6 0.6 0.6", type="down")
                a-image(id="kawai", type="panel", paneler, src="#panel_kawai_front", href="/assets/site/kawai.html",width="4", height="8",position="0 0 3",  scale="0.5 0.5 0.5", backsrc="#panel_kawai_back")
                    a-collada-model.d1(position="-0.3 3 0", rotation="0 0 0", scale="0.6 0.6 0.6", num3D, num="0")
                    a-collada-model.d2(position="0 3 0", rotation="0 0 0", scale="0.6 0.6 0.6", num3D, num="0")
                    a-collada-model.d3(position="0.3 3 0", rotation="0 0 0", scale="0.6 0.6 0.6", num3D, num="0")
                    a-collada-model(arrow,scale="0.6 0.6 0.6", type="up")
                    a-collada-model(arrow,scale="0.6 0.6 0.6", type="down")
                a-image(id="wannan", type="panel", paneler, audio="audio_wannan", src="#panel_wannan_front", href="/assets/site/wannan.html", width="4", height="8",position="0 0 3",  scale="0.5 0.5 0.5", backsrc="#panel_wannan_back")
                    a-collada-model.d1(position="-0.3 3 0", rotation="0 0 0", scale="0.6 0.6 0.6", num3D, num="0")
                    a-collada-model.d2(position="0 3 0", rotation="0 0 0", scale="0.6 0.6 0.6", num3D, num="0")
                    a-collada-model.d3(position="0.3 3 0", rotation="0 0 0", scale="0.6 0.6 0.6", num3D, num="0")
                    a-collada-model(arrow,scale="0.6 0.6 0.6", type="up")
                    a-collada-model(arrow,scale="0.6 0.6 0.6", type="down")
                a-image(id="nobuki", type="panel", audio="audio_nobuki", paneler, href="/assets/site/nobuki.html", src="#panel_nobuki_front", width="4", height="8",position="0 0 3",  scale="0.5 0.5 0.5", backsrc="#panel_nobuki_back")
                    a-collada-model.d1(position="-0.3 3 0", rotation="0 0 0", scale="0.6 0.6 0.6", num3D, num="0")
                    a-collada-model.d2(position="0 3 0", rotation="0 0 0", scale="0.6 0.6 0.6", num3D, num="0")
                    a-collada-model.d3(position="0.3 3 0", rotation="0 0 0", scale="0.6 0.6 0.6", num3D, num="0")
                    a-collada-model(arrow,scale="0.6 0.6 0.6", type="up")
                    a-collada-model(arrow,scale="0.6 0.6 0.6", type="down")
                a-image(id="nakamura", type="panel", href="/assets/site/nakamura.html", audio="audio_nakamura", paneler, src="#panel_nakamura_front", width="4", height="8",position="0 0 3",  scale="0.5 0.5 0.5", backsrc="#panel_nakamura_back")
                    a-collada-model.d1(position="-0.3 3 0", rotation="0 0 0", scale="0.6 0.6 0.6", num3D, num="0")
                    a-collada-model.d2(position="0 3 0", rotation="0 0 0", scale="0.6 0.6 0.6", num3D, num="0")
                    a-collada-model.d3(position="0.3 3 0", rotation="0 0 0", scale="0.6 0.6 0.6", num3D, num="0")
                    a-collada-model(arrow,scale="0.6 0.6 0.6", type="up")
                    a-collada-model(arrow,scale="0.6 0.6 0.6", type="down")
                a-image(id="adachi", type="panel", href="/assets/site/adachi.html", audio="audio_adachi", paneler, src="#panel_adachi_front", width="4", height="8",position="0 0 3",  scale="0.5 0.5 0.5", backsrc="#panel_adachi_back")
                    a-collada-model.d1(position="-0.3 3 0", rotation="0 0 0", scale="0.6 0.6 0.6", num3D, num="0")
                    a-collada-model.d2(position="0 3 0", rotation="0 0 0", scale="0.6 0.6 0.6", num3D, num="0")
                    a-collada-model.d3(position="0.3 3 0", rotation="0 0 0", scale="0.6 0.6 0.6", num3D, num="0")
                    a-collada-model(arrow,scale="0.6 0.6 0.6", type="up")
                    a-collada-model(arrow,scale="0.6 0.6 0.6", type="down")
                a-image(id="miyashita", type="panel", audio="audio_miyashita", paneler, href="/assets/site/miyashita.html", src="#panel_miyashita_front", width="4", height="8",position="0 0 3",  scale="0.5 0.5 0.5", backsrc="#panel_miyashita_back")
                    a-collada-model.d1(position="-0.3 3 0", rotation="0 0 0", scale="0.6 0.6 0.6", num3D, num="0")
                    a-collada-model.d2(position="0 3 0", rotation="0 0 0", scale="0.6 0.6 0.6", num3D, num="0")
                    a-collada-model.d3(position="0.3 3 0", rotation="0 0 0", scale="0.6 0.6 0.6", num3D, num="0")
                    a-collada-model(arrow,scale="0.6 0.6 0.6", type="up")
                    a-collada-model(arrow,scale="0.6 0.6 0.6", type="down")
                a-image(id="sakuragi", type="panel", audio="audio_sakuragi", paneler, href="/assets/site/sakuragi.html", src="#panel_sakuragi_front", width="4", height="8",position="0 0 3",  scale="0.5 0.5 0.5", backsrc="#panel_sakuragi_back")
                    a-collada-model.d1(position="-0.3 3 0", rotation="0 0 0", scale="0.6 0.6 0.6", num3D, num="0")
                    a-collada-model.d2(position="0 3 0", rotation="0 0 0", scale="0.6 0.6 0.6", num3D, num="0")
                    a-collada-model.d3(position="0.3 3 0", rotation="0 0 0", scale="0.6 0.6 0.6", num3D, num="0")
                    a-collada-model(arrow,scale="0.6 0.6 0.6", type="up")
                    a-collada-model(arrow,scale="0.6 0.6 0.6", type="down")
                a-image(id="moca", type="panel", paneler, href="/assets/site/moca.html", src="#panel_moca_front", width="4", height="8",position="0 0 3",  scale="0.5 0.5 0.5", backsrc="#panel_moca_back")
                    a-collada-model.d1(position="-0.3 3 0", rotation="0 0 0", scale="0.6 0.6 0.6", num3D, num="0")
                    a-collada-model.d2(position="0 3 0", rotation="0 0 0", scale="0.6 0.6 0.6", num3D, num="0")
                    a-collada-model.d3(position="0.3 3 0", rotation="0 0 0", scale="0.6 0.6 0.6", num3D, num="0")
                    a-collada-model(arrow,scale="0.6 0.6 0.6", type="up")
                    a-collada-model(arrow,scale="0.6 0.6 0.6", type="down")
                a-image(id="satoc", type="panel", audio="audio_satoc", paneler, href="/assets/site/satoc.html", src="#panel_satoc_front", width="4", height="8",position="0 0 3",  scale="0.5 0.5 0.5", backsrc="#panel_satoc_back")
                    a-collada-model.d1(position="-0.3 3 0", rotation="0 0 0", scale="0.6 0.6 0.6", num3D, num="0")
                    a-collada-model.d2(position="0 3 0", rotation="0 0 0", scale="0.6 0.6 0.6", num3D, num="0")
                    a-collada-model.d3(position="0.3 3 0", rotation="0 0 0", scale="0.6 0.6 0.6", num3D, num="0")
                    a-collada-model(arrow,scale="0.6 0.6 0.6", type="up")
                    a-collada-model(arrow,scale="0.6 0.6 0.6", type="down")
                a-image(id="nishihara", type="panel", paneler, href="/assets/site/nishihara.html", src="#panel_nishihara_front", width="4", height="8",position="0 0 3",  scale="0.5 0.5 0.5", backsrc="#panel_nishihara_back")
                    a-collada-model.d1(position="-0.3 3 0", rotation="0 0 0", scale="0.6 0.6 0.6", num3D, num="0")
                    a-collada-model.d2(position="0 3 0", rotation="0 0 0", scale="0.6 0.6 0.6", num3D, num="0")
                    a-collada-model.d3(position="0.3 3 0", rotation="0 0 0", scale="0.6 0.6 0.6", num3D, num="0")
                    a-collada-model(arrow,scale="0.6 0.6 0.6", type="up")
                    a-collada-model(arrow,scale="0.6 0.6 0.6", type="down")
                a-image(id="yanagida", type="panel", paneler, src="#panel_yanagida_front", width="4", height="8",position="0 0 3",  scale="0.5 0.5 0.5", backsrc="#panel_yanagida_back")
                    a-collada-model.d1(position="-0.3 3 0", rotation="0 0 0", scale="0.6 0.6 0.6", num3D, num="0")
                    a-collada-model.d2(position="0 3 0", rotation="0 0 0", scale="0.6 0.6 0.6", num3D, num="0")
                    a-collada-model.d3(position="0.3 3 0", rotation="0 0 0", scale="0.6 0.6 0.6", num3D, num="0")
                    a-collada-model(arrow,scale="0.6 0.6 0.6", type="up")
                    a-collada-model(arrow,scale="0.6 0.6 0.6", type="down")

            //On CURVE MENU
            a-entity#cmenu
                a-curvedimage#about_venu(curvemenu, type="venue", src="#img_kaijo", radius="5.9",height="1.2", theta-length="14", angle="0",n=0)
                a-curvedimage#about_program(curvemenu, type="venue", src="#img_program", radius="5.9",height="1.2", theta-length="14", n=1)
                a-curvedimage#about_toudansha(curvemenu, type="venue", src="#img_toudansha", radius="5.9",height="1.2", theta-length="14", n=2)
                a-curvedimage#about_fes(curvemenu, type="venue", src="#img_aboutfes", radius="5.9", height="1.2", theta-length="14", position="0 0 0", n=6)
                a-curvedimage#about_fes_j(curvemenu, type="venue", src="#img_aboutfes_j", radius="5.9", height="1.2", theta-length="14", position="0 0 0", n=7)
                a-curvedimage#about_areamap(curvemenu, type="venue", href="http://docu-memento.com/map.html", src="#img_areamap", radius="5.9", height="1.2", theta-length="14", position="0 0 0", n=8)

            //a-curvedimage#logo_bug(curvemenu, type="misc", alink, src="#img_logo_bug", radius="5.7",height="0.5", theta-length="6", position="0 -0.3 0", href="http://bugdoc.tokyo/", angle="0",angle_to="235", def_angle="235")
            //a-curvedimage#logo_tokyodocs(curvemenu, type="misc", alink, src="#img_logo_tokyodocs", radius="5.7",height="0.5", theta-length="10", position="0 -0.3 0",href="http://tokyodocs.jp/", angle="0", angle_to="242", def_angle="242")
            //a-curvedimage#logo_sog(curvemenu, alink, type="misc", src="#img_logo_sog", radius="5.7",height="0.5", theta-length="10", position="0 -0.3 0",href="http://someonesgarden.org", angle="0", angle_to="252", def_angle="252")


            //////////////////   LIGHT & CAMERA & SKY
            a-light(type="directional", color="#fff", intensity="0.2", position="-1 2 1")
            a-light(type="ambient", color="#fff")
            a-sky(color="#ECECEC")
            a-circle(position="0 43 4",rotation="90 0 0", radius="30",color="#000000")
            a-box(color="#B76705", depth="2", height="2,", width="4", position="0 2.328 5.926", scale="0.6 2.5 1", geometry="depth:0.1")

            a-entity(position="0 2 0.1")
                a-entity#camera(camera, look-controls, wasd-controls, mouse-cursor)
                    //Mobileの場合だけクリック用のカーソルをVR画面に表示させる
                    if mobile
                        a-entity#cursor(position=CURSOR_OUT, scale="1 1 1", geometry="primitive:ring;radiusOuter:0.20;radiusInner:0.13;", material="color:#ADD8E6;shader:flat", cursor="maxDistance:100; fuse:true;")
                            a-animation(begin="click", easing="ease-in", attribute="scale", fill="backwards", from="0.1 0.1 0.1", to="1 1 1", dur="150")
                            a-animation(begin="fusing", easing="ease-in", attribute="scale", fill="forwards", from="1 1 1", to="0.2 0.2 0.2", dur="1200")
                    else

    script(src="js/aframe/components/index.js")
    script(src="js/aframe/index_main.js")
    script.
        var shareUrl = 'http://docu-memento.com/'; // 現在のページURLを使用する場合 location.href;
        var shareText = 'ドキュ・メメント映画祭へようこそ'; // 現在のページタイトルを使用する場合 document.title;
    script(src="/js/lib/sharebutton.js")
    // FireBase
    script(src="/js/lib/firebaseapp.js")

    script.
        app.controller('VRController', ['$scope', '$http', '$window','$firebase', function ($scope, $http, $window, $firebase) {

            $scope.panels ={};
            /*
            $http.get('/data/panelists.json')
                .then(function (res) {
                    //$scope.panels = res.data;
                    console.log("panels");
                    console.log($scope.panels);
                });
            */
        }]);